.dashboard-container {
    margin: 20px;
}

.dashboard-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.mini-calendar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-section {
    display: flex;
    gap: 10px;
}

.action-button {
    padding: 10px;
    background-color: #4318ff !important;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #3000ff !important;
}
#div-formSpending {
    width: 250px;
    height: 540px;
    transform: translateX(910px) translateY(60px);
    position: absolute;
    border-radius: 8px;
    background-color: white;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
}

#div-formSpending::-webkit-scrollbar {
    width: 0.5em; /* Adjust scrollbar width as needed */
}

#div-formSpending::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide scrollbar thumb in WebKit browsers */
}
/*#div-formSpending{*/
/*    width: 250px;*/
/*    height: 540px;*/
/*    !*border: 1px solid black;*!*/
/*    transform: translateX(910px) translateY(60px);*/
/*    position: absolute;*/
/*    border-radius: 8px;*/
/*    background-color: white;*/
/*    overflow-y: scroll;*/
/*    -ms-overflow-style: none;*/

/*}*/
/*#div-formSpending ::-webkit-scrollbar{*/
/*    display: none;*/
/*}*/
.h2-categories{
    margin-left: 10px;
    background-color: #f2f2ff;
    border-radius: 5px;
    text-align: center;
}
.li-categories{
    margin-left: 10px;
    text-align: center;
}